<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Intervox 需要存取麥克風，以擷取你的語音、進行即時翻譯，並將結果送入「Translator Mic」虛擬麥克風。</string>
</dict>
</plist>
